{erl_opts, [debug_info]}.

{deps, [
    {antidote_crdt, ".*", {git, "https://github.com/pedromslopes/antidote_crdt", {branch, "indexes"}}},
    {elli, "3.0.0"},
    {jsx, "2.9.0"},
    {antidote, {git, "https://github.com/pedromslopes/antidote.git", {branch, "queries_with_locks"}}},
    {lager, "3.6.2"}
]}.

{erl_opts, [
            debug_info,
            %warnings_as_errors,
            nowarn_export_all,
            {parse_transform, lager_transform}, {i, "include"}
           ]}.

{cover_enabled, true}.

{dialyzer, [{warnings, [
    %unmatched_returns,
    %unknown
    %overspecs,
    no_undefined_callbacks
]}]}.

{edoc_opts, [
    {preprocess, true},
    {todo, true},
    {includes, ["include/"]},
    {dir, "edoc"}
]}.

{overrides, [
    %% R20
    {override, riak_ensemble,
        [{erl_opts, [
            debug_info,
            warn_untyped_record,
            {platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_transform}
        ]},
            {plugins, [pc]},
            {provider_hooks, [{post, [{compile, {pc, compile}}, {clean, {pc, clean}}]}]}
        ]},
    {override, riak_core,
        [{erl_opts, [{parse_transform, lager_transform}, debug_info, warn_untyped_record,
            {plugins, [pc]},
            {platform_define, "^[0-9]+", namespaced_types},
            {platform_define, "18", old_rand},
            {platform_define, "17", old_rand},
            {platform_define, "^R15", old_hash},
            {provider_hooks, [{post, [{compile, {pc, compile}}, {clean, {pc, clean}}]}]}
        ]}]},
    {override, riak_api,
        [{erl_opts,
          [{parse_transform, lager_transform}]
         }]},

    %% R18
    {override, chash,
        [{erl_opts, [debug_info, {platform_define, "^[0-9]+", namespaced_types}]}]},
    {override, webmachine,
        [{erl_opts, []}]},
    {override, edown,
        [{erl_opts, [debug_info]}]},

    %% Normal
    {override, setup, [{post_hooks, []}]},
    {override, eleveldb, [
        {plugins, [pc]},
        {pre_hooks, [
            {compile, "c_src/build_deps.sh get-deps"},
            {compile, "c_src/build_deps.sh"}
        ]},
        {post_hooks, [
            {clean, "c_src/build_deps.sh clean"}
        ]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]},

    {override, erlzmq,
        [{pre_hooks, [{compile, "make -C c_src"},
            {clean, "make -C c_src clean"}]},
            {plugins, [pc]},

            {provider_hooks,
                [{post,
                    [{compile, {pc, compile}},
                        {clean, {pc, clean}}
                    ]}
                ]}
        ]}
]}.

{relx, [{release, {aql, "0.0.1"}, [aql]},
		{dev_mode, false},
    {include_erts, true},

    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},

    {overlay, [
        {mkdir, "data/ring"},
        {mkdir, "log/sasl"},
        {copy, "bin/env", "bin/env"},
        {template, "_build/default/lib/antidote/rel/files/antidote-admin", "bin/antidote-admin"},
        {template, "_build/default/lib/cuttlefish/priv/erlang_vm.schema", "lib/11-erlang_vm.schema"},
        {template, "_build/default/lib/riak_core/priv/riak_core.schema", "lib/12-riak_core.schema"},
        {template, "_build/default/lib/riak_sysmon/priv/riak_sysmon.schema", "lib/15-riak_sysmon.schema"},
        {template, "_build/default/lib/eleveldb/priv/eleveldb.schema", "lib/21-leveldb.schema"}
    ]},
    {overlay_vars, "config/vars.config"},

    {extended_start_script, true}]}.

%{shell, [{script_file, "src/main.escript"}]}.
