{erl_opts, [debug_info]}.

{deps, [
    {antidote_crdt, ".*", {git, "https://github.com/pedromslopes/antidote_crdt", {branch, "indexes_for_gc"}}},
    {elli, "3.0.0"},
    {jsx, "2.9.0"}
]}.

{relx, [{release, {aql, "0.0.1"}, [aql]},

        {dev_mode, true},
        {include_erts, false},
        
        {vm_args, "config/vm.args"},
        {overlay_vars, "config/vars.config"},

        {extended_start_script, true}]}.

%{shell, [{script_file, "src/main.escript"}]}.
