{erl_opts, [debug_info]}.

{deps, [
    {antidote_crdt, ".*", {git, "https://github.com/pedromslopes/antidote_crdt", {branch, "indexes"}}},
    {elli, "3.0.0"},
    {jsx, "2.9.0"},
    {antidote, {git, "https://github.com/pedromslopes/antidote.git", {branch, "aql_oriented_features"}}},
    {lager, "3.6.2"}
]}.

{relx, [{release, {aql, "0.0.1"}, [aql]},
		{dev_mode, false},
    {include_erts, true},
    
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    
    {overlay, [
        {mkdir, "data/ring"},
        {mkdir, "log/sasl"},
        {copy, "bin/env", "bin/env"},
        {template, "_build/default/lib/antidote/rel/files/antidote-admin", "bin/antidote-admin"},
        {template, "_build/default/lib/cuttlefish/priv/erlang_vm.schema", "lib/11-erlang_vm.schema"},
        {template, "_build/default/lib/riak_core/priv/riak_core.schema", "lib/12-riak_core.schema"},
        {template, "_build/default/lib/riak_sysmon/priv/riak_sysmon.schema", "lib/15-riak_sysmon.schema"},
        {template, "_build/default/lib/eleveldb/priv/eleveldb.schema", "lib/21-leveldb.schema"}
    ]},
    {overlay_vars, "config/vars.config"},

    {extended_start_script, true}]}.

%{shell, [{script_file, "src/main.escript"}]}.
